html , body {
	width: 100%;
	height: 100%;
}

body {
	padding: 5%;
	padding-top: 0;
}

.satauri {
	text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-family: 'B612 Mono', monospace;

    
    
}




.green-box {
	height: 100%;
	width: 100%;
	background-color: #22B573;
	border: 4px solid #006837;
	padding: 3%;
}

.blue-box{
	height: 100%;
	width: 100%;
	background-color: #29ABE2;
	border: 4px solid #0071BC;
	padding: 3%;
	padding-top: 0;
}

.teksti-2 {
	color: #fff;
	font-size: 15px;
	line-height:24px;
	font-family: 'B612 Mono', monospace;

}

.yellow-box1 {
    height: 32%;
    width: 100%;
	background-color:#FCEE21;
	border: 4px solid #7AC943;
	padding: 4.5%;

}

.yellow-box2 {
	height: 52%;
    width: 100%;
	background-color:#FCEE21;
	border: 4px solid #7AC943;
	margin-top: 5%;
	
	
	


}

.teksti-3{
	color: #fff;
	font-size: 35px;
	padding:13% 34%;
	font-family: 'B612 Mono', monospace;


}

.small-box1{
	height: 100%;
	width: 20%;
	background-color: #fff;
	border: 1px solid #93278F;
	float:right;
	margin-right: 6.5%;
	padding: 2%;


}

.small-box1-1{
	height: 100%;
	width: 20%;
	background-color: #fff;
	border: 1px solid #93278F;
	float:right;
	margin-right: 0%;
	padding: 2%;


}

.inside-box {
	background-color: #ED1E79;
	width: 100%;
	height: 100%;

}

.shida-teksti {
	color: #fff;
	font-size: 10px;
	padding: 17% 21% 17% 21%;
	font-family: 'B612 Mono', monospace;

}


.charcho {
	width: 604px;
	height: 152px;

	
}

.logo1 {
	height: 115px;
	display: inline-block;
}

.text {
	display: inline-block;

}

.text1 {
	margin: 10px;
}

